/bin
/cocos2d
/proj.android/bin
/proj.android/gen
/proj.android/obj
/proj.android-studio
/proj.linux
/proj.tizen
/proj.win8.1-universal
/proj.win10
!/proj.android-studio
proj.win32/Debug.win32/
proj.win32/Snake.opensdf
proj.win32/Snake.sdf
