<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juese1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,528},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>juese1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,96},{152,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,92}}</string>
                <key>sourceSize</key>
                <string>{152,92}</string>
            </dict>
            <key>juese1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,725},{105,94}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,94}}</string>
                <key>sourceSize</key>
                <string>{105,112}</string>
            </dict>
            <key>juese1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,626},{97,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{97,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>juese2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,513},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>juese2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{152,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,92}}</string>
                <key>sourceSize</key>
                <string>{152,92}</string>
            </dict>
            <key>juese2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,705},{105,94}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,94}}</string>
                <key>sourceSize</key>
                <string>{105,112}</string>
            </dict>
            <key>juese2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,606},{97,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{97,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>juese3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,493},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>juese3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{152,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,92}}</string>
                <key>sourceSize</key>
                <string>{152,92}</string>
            </dict>
            <key>juese3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{105,94}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,94}}</string>
                <key>sourceSize</key>
                <string>{105,112}</string>
            </dict>
            <key>juese3-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{97,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{97,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>juese4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>juese4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,92}}</string>
                <key>sourceSize</key>
                <string>{152,92}</string>
            </dict>
            <key>juese4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,641},{105,94}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,94}}</string>
                <key>sourceSize</key>
                <string>{105,112}</string>
            </dict>
            <key>juese4-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{97,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{97,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>juese5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,278},{126,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,120}}</string>
                <key>sourceSize</key>
                <string>{126,120}</string>
            </dict>
            <key>juese5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,96},{152,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,90}}</string>
                <key>sourceSize</key>
                <string>{152,92}</string>
            </dict>
            <key>juese5-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,305},{118,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,108}}</string>
                <key>sourceSize</key>
                <string>{118,108}</string>
            </dict>
            <key>juese5-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{118,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,105}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>juese6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,415},{111,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,117}}</string>
                <key>sourceSize</key>
                <string>{111,117}</string>
            </dict>
            <key>juese6-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,92}}</string>
                <key>sourceSize</key>
                <string>{152,92}</string>
            </dict>
            <key>juese6-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,190},{113,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,130}</string>
            </dict>
            <key>juese6-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,278},{100,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>juese7-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{120,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,130}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>juese7-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,188},{152,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,88}}</string>
                <key>sourceSize</key>
                <string>{152,92}</string>
            </dict>
            <key>juese7-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,380},{112,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,111}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>juese7-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,400},{111,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,117}}</string>
                <key>sourceSize</key>
                <string>{111,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>she.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bc995647e6a1231df3e67da4bbf0b13:f6d505da0abb5570aaaa40950d39f7c8:295ef13ab9e7b08cc1622a08dfb817d1$</string>
            <key>textureFileName</key>
            <string>she.png</string>
        </dict>
    </dict>
</plist>
